<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">Create class</h4>
    </div>
    <div class="widget-body">
        <div class="widget-main no-padding">
            <form class="form-horizontal m-t-10" role="form" ng-submit="saveClass()">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="class.name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Code</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="class.code" placeholder="Code">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Start date</label>
                    <div class="input-group col-sm-4">
                        <input class="form-control date-picker" id="startdate"
                               ng-model="class.startDate"
                               date-time-picker=""
                               type="text" data-date-format="DD/MM/YYYY">
                        <span class="input-group-addon">
																		<i class="fa fa-calendar bigger-110"></i>
																	</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">End date</label>
                    <div class="input-group col-sm-4">
                        <input class="form-control date-picker" id="enddate"
                               date-time-picker=""
                               ng-model="class.endDate"
                               type="text" data-date-format="DD/MM/YYYY">
                        <span class="input-group-addon">
																		<i class="fa fa-calendar bigger-110"></i>
																	</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Semester</label>
                    <div class="col-sm-4">
                        <input type="Number" class="form-control" value="1" ng-model="class.semester" min="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Class year</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" ng-model="class.classYear" placeholder="Class year">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Teacher</label>
                    <div class="col-sm-4">
                        <select class="chosen-select form-control"
                                data-placeholder="Choose a teacher">
                            <option ng-repeat="teacher in teachers" value="{{teacher.id}}">{{teacher.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Categories</label>
                    <div class="col-sm-4">
                        <select multiple="" class="chosen-select form-control" ng-model="class.categories"
                                id="form-field-select-4" data-placeholder="Choose a categories">
                            <option ng-repeat="category in categories" value="{{category.id}}" multi-select>{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Status</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="status" ng-model="class.status">
                            <option ng-repeat="status in status.select" value="{{status.value}}">{{status.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <button class="btn btn-sm btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Save
                        </button>
                        <button class="btn btn-sm m-l-5" id="cancel" ng-click="changeView('back')">
                            <i class="ace-icon fa fa-close bigger-110"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>