<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>

        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>

        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
    <li ng-class="{active: state.name === 'dashboard'}">
        <a ui-sref="dashboard">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li ng-class="{open: state.name === 'account'}">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-user"></i>
            <span class="menu-text">
								Account
							</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li ng-class="{active: state.url === '#/account/student'}">
                <a ui-sref="account({type: 'student'})">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Student
                </a>

                <b class="arrow"></b>
            </li>

            <li ng-class="{active: state.url === '#/account/teacher'}">
                <a ui-sref="account({type: 'teacher'})">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Teacher
                </a>

                <b class="arrow"></b>
            </li>

            <li ng-class="{active: state.url === '#/account/admin'}">
                <a ui-sref="account({type: 'admin'})">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Admin
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li ng-class="{open: state.name === 'token'}">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-key"></i>
            <span class="menu-text"> Token Key </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li ng-class="{active: state.url === '#/token/available'}">
                <a ui-sref="token({type: 'available'})">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Available
                </a>

                <b class="arrow"></b>
            </li>

            <li ng-class="{active: state.url === '#/token/non'}">
                <a ui-sref="token({type: 'non'})">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Non Available
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li ng-class="{active: state.name === 'setting'}">
        <a ui-sref="setting">
            <i class="menu-icon fa fa-cog"></i>
            <span class="menu-text"> Setting </span>
        </a>
    </li>

    <li ng-class="{active: state.name === 'class'}">
        <a ui-sref="class">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text"> Classes </span>
        </a>
    </li>

    <li ng-class="{active: state.name === 'category'}">
        <a ui-sref="category">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> Categories </span>
        </a>
    </li>

    <li ng-class="{open: state.name === 'problem'}">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-question-circle"></i>
            <span class="menu-text"> Problems </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li ng-class="{active: state.name === 'problem'}">
                <a ui-sref="problem">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Problems
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <!--<li ng-class="{active: state.name === 'language'}">-->
    <!--<a ui-sref="language">-->
    <!--<i class="menu-icon fa fa-language"></i>-->
    <!--<span class="menu-text"> Languages </span>-->
    <!--</a>-->
    <!--</li>-->

    <li ng-class="{active: state.name === 'scoreboard'}">
        <a ui-sref="scoreboard">
            <i class="menu-icon fa fa-table"></i>
            <span class="menu-text"> User Scoreboard </span>
        </a>
    </li>
</ul><!-- /.nav-list -->

<!--<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">-->
    <!--<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"-->
       <!--data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>-->
<!--</div>-->