

<ul class="nav nav-list">
    <li ng-class="{active: state.name === 'dashboard'}">
        <a ui-sref="dashboard">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li ng-class="{open: state.name === 'account'}">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-user"></i>
            <span class="menu-text">
								User
							</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li ng-class="{active: state.url === '#/account/user'}">
                <a ui-sref="account({type: 'user'})">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Account
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li ng-class="{open: state.name === 'product'}">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-tags"></i>
            <span class="menu-text"> Product</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li ng-class="{active: state.url === '#/product'}">
                <a ui-sref="product">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Product
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>

    <li ng-class="{active: state.name === 'setting'}">
        <a ui-sref="setting">
            <i class="menu-icon fa fa-shopping-bag"></i>
            <span class="menu-text"> Order Product </span>
        </a>
    </li>

    <li ng-class="{active: state.name === 'article'}">
        <a ui-sref="article">
            <i class="menu-icon fa fa-newspaper-o"></i>
            <span class="menu-text"> Article </span>
        </a>
    </li>

    <li ng-class="{active: state.name === 'category'}">
        <a ui-sref="category">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> Categories </span>
        </a>
    </li>

    <li ng-class="{open: state.name === 'problem'}">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text"> Role </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li ng-class="{active: state.name === 'role'}">
                <a ui-sref="role">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Role
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <!--<li ng-class="{active: state.name === 'language'}">-->
    <!--<a ui-sref="language">-->
    <!--<i class="menu-icon fa fa-language"></i>-->
    <!--<span class="menu-text"> Languages </span>-->
    <!--</a>-->
    <!--</li>-->

    <!--<li ng-class="{active: state.name === 'scoreboard'}">-->
        <!--<a ui-sref="scoreboard">-->
            <!--<i class="menu-icon fa fa-table"></i>-->
            <!--<span class="menu-text"> User Scoreboard </span>-->
        <!--</a>-->
    <!--</li>-->
</ul><!-- /.nav-list -->

<!--<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">-->
    <!--<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"-->
       <!--data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>-->
<!--</div>-->