<div class="main-content">
    <div class="floating-button" id="plus-btn" ng-show="status.step === 1" ng-click="changeView()">
        <p class="plus">+</p>
    </div>

    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Categories</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    Categories
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12" ng-if="status.step === 1" ng-include="'scripts/category/category.list.template.html'"></div>
                <div class="col-xs-12 form" ng-if="status.step === 2" ng-include="'scripts/category/category.form.template.html'"></div>
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->