<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">Create {{title}}</h4>
    </div>
    <div class="widget-body">
        <div class="widget-main no-padding">
            <form class="form-horizontal m-t-10" role="form" ng-submit="saveAccount()">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Username</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="user.username" placeholder="Username" required>
                    </div>
                </div>
                <div class="form-group" ng-if="!user.id">
                    <label class="col-sm-2 control-label no-padding-right">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" ng-model="user.password" placeholder="Password"
                               pattern="[\w\W]{6,}"
                               title="Password must above 6 character"
                               required
                        >
                    </div>
                </div>
                <div class="form-group" ng-if="!user.id">
                    <label class="col-sm-2 control-label no-padding-right">Confirm
                        password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control"
                               placeholder="Confirm password" pattern="[\S]+"
                               title="Password not contain space">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="user.name" placeholder="Your name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Address</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="user.address" placeholder="Address" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Phone</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="user.phone" placeholder="Phone number"
                               title="Type phone number between 10 to 11 number"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Email</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" ng-model="user.email" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Gender</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="user.sex" id="gender" required>
                            <option value="male" ng-selected="user.sex='male'">Male</option>
                            <option value="female" ng-selected="user.sex='male'">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Role</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="user.role._id" id="role">
                            <option ng-repeat="role in roles" value="{{role._id}}">{{role.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <button class="btn btn-sm btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Save
                        </button>
                        <button class="btn btn-sm m-l-5" id="cancel" ng-click="changeView('back')">
                            <i class="ace-icon fa fa-close bigger-110"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
